.contact {
  background-image: url("../assets/Background Image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;

  &__back {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
  }

  &__content {
    position: absolute;
    width: 530px;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 38px;
      margin-bottom: 30px;
    }

    .successMess {
      color: forestgreen;
      font-size: 18px;
      text-align: center;
      margin-top: 30px;
      line-height: 24px;
      max-width: 300px;
      font-weight: 600;
    }

    form {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .toPlace {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        margin-top: 70px;
      }

      .error {
        color: red;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 600;
      }

      .form__box {
        width: 45%;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 12px;
          font-weight: 600;
        }

        input {
          border: 0;
          border-bottom: 1px solid #707070;
          padding: 5px;
          background: none;


          &:focus {
            outline: none;
          }

          &::placeholder {
            color: #3C3C3C26;
            font-size: 18px;
          }
        }

        &-max {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 40px;

          label {
            margin-bottom: 12px;
            font-weight: 600;
          }

          textarea {
            height: 100px;
            border: 0;
            border-bottom: 1px solid #707070;
            padding: 5px;
            background: none;

            &::placeholder {
              color: #3C3C3C26;
              font-family: $font-alt;
              font-size: 18px;
            }

            &:focus {
              outline: none;
            }
          }

        }
      }

      button {
        padding: 13px 52px;
        border: 0;
        background: none;
        border: 1px solid $color-alt;
        align-self: flex-end;
      }

    }
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    img {
      position: absolute;
      right: -600px;
      &:last-child {
        right: -650px;
      }
    }
  }
}